# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/compiler.xml
/sonarlint/issuestore/index.pb
/jarRepositories.xml
/misc.xml
/runConfigurations.xml
/vcs.xml
